@charset "utf-8";
/* CSS Document */

div
{
	float:left;
	padding:15px;
}

.div1
{
	background-color:tomato;
}

.div2
{
	background-color:DodgerBlue;
}

.div3
{
	background-color:MediumSeaGreen;
}

.right
{
	position:absolute;
	right:100px;
	border: 5px inset gray;
	height:250px;
	width:200px;
	padding:10px;
}

img
{
	display:block;
	opacity:0.5;
	margin-right:auto;
	margin-left:auto;
}

img:hover
{
	opacity:1.0;
}

div p
{
	background-color:aqua;
}

	

	
	



